*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./img/anhdep.jpg);
    background-size: cover;
    width: auto;
    height: 1000px;
    margin: 0px auto;
    color: white;
    text-align: center;
}
.title {
    padding: 60px 0;
    font-size: 30px;
}
.info{
    padding-bottom: 60px;
}
.btn a{
    display: inline-block;
    margin-bottom: 60px;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    background-color: #d83f2e;
    border: 1px solid #942911;
    border-radius: 5px;
}
.btn a:hover {
    background-color: rgba(216, 63, 46, 9);
}