/* Desktop width >= 1024px */
@media (min-width: 64em) {}

/* Tablet & Mobile width < 1024px */
@media (max-width: 63.99375em) {

    .header {
        display: block;
        overflow: hidden;
    }

    .header .ti-close.open,
    .header .ti-menu.open {
        display: block;
    }

    .header .home-page {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        margin: 0;
        border-bottom: 0.2px solid #cccccc3e;
    }

    .header .navigation {
        display: none;
        position: relative;
    }

    .header .navigation.open {
        display: block;
    }

    .header .navigation li {
        padding: 10px 10px;
        border-bottom: 0.2px solid #cccccc3e;
    }

    .header .navigation li.sign-in-sm,
    .header .navigation li.sign-up-sm {
        display: block;
    }

    .header .sign-in,
    .header .sign-up {
        display: none;
    }

    .header-tab {
        display: block;
    }

    .header-des {
        display: none;
    }

    .cloudfee .creamy .open-cloudfee-modal {
        line-height: 1.4;
    }

    .coffeeholic-content .col-left,
    .teaholic-content .col-left,
    .blog-content .col-left {
        display: none;
    }

    footer .row-link-contact a i {
        font-size: 28px;
    }
}

/* Tablet 740px <= width < 1024px */
@media (max-width: 63.99375em) and (min-width: 46.25em) {

    .cloudfee .creamy {
        margin: 0 50px;
        padding: 20px 0 20px;
    }

    .cloudfee .creamy p {
        font-size: 16px;
    }

    .cloudfee .creamy a,
    .cloudfee .creamy i {
        font-size: 16px;
    }

    .cloudfee .hieu,
    .cloudfee .thinh {
        margin: 0 20px;
        padding: 32px 0;
    }

    .cloudfee-modal .modal-title {
        font-size: 40px;
    }

    .cloudfee-modal .modal-content {
        padding: 0 24px;
    }

    .coffeeholic-section .col-left img,
    .blog-section .col-left img {
        height: 50vw;
    }

    .coffeeholic-section .col-right>h3,
    .blog-section .col-right>h3 {
        margin: 16px 32px;
    }

    .coffeeholic-section .col-right .content-list .item,
    .blog-section .col-right .content-list .item {
        margin: 32px;
    }

    .coffeeholic-section .col-right .content-list .item img,
    .blog-section .col-right .content-list .item img {
        height: 20vw;
    }

    .teaholic-section .col-left {
        padding: 0;
    }

    .teaholic-section .col-left>h3 {
        margin: 16px 32px;
    }

    .teaholic-section .col-left .content-list .item {
        margin: 32px;
    }

    .teaholic-section .col-left .content-list .item img {
        height: 20vw;
    }

    .teaholic-section .col-left .content-list .item .content {
        padding: 0 12px;
    }

    .teaholic-section .col-right {
        order: -1;
        padding: 50px;
    }

    .teaholic-section .col-right img {
        height: 50vw;
    }

    .coffeeholic-content .container-fluid,
    .teaholic-content .container-fluid,
    .blog-content .container-fluid {
        padding: 30px;
    }

    .coffeeholic-content .col-right .item img,
    .teaholic-content .col-right .item img,
    .blog-content .col-right .item img {
        height: 20vw;
    }

    footer .row-linklist img {
        width: 72%;
        height: auto;
    }

}

/* Mobile width < 740px */
@media (max-width: 46.24375em) {

    .page-header-content {
        width: 100%;
    }

    .cloudfee .creamy {
        margin: 0 20px;
    }

    .cloudfee .creamy h3 {
        font-size: 18px;
        font-weight: bold;
    }

    .cloudfee .creamy h1 {
        font-size: 72px;
    }

    .cloudfee .creamy p {
        font-size: 16px;
    }

    .cloudfee .creamy a,
    .cloudfee .creamy i {
        font-size: 18px;
    }

    .cloudfee .hieu,
    .cloudfee .thinh {
        margin: 0;
        padding: 30px 0;
    }

    .cloudfee .hieu img,
    .cloudfee .thinh img {
        width: 100%;
    }

    .cloudfee .hieu .col-right {
        order: -1;
    }

    .cloudfee-modal .modal-title {
        font-size: 32px;
        padding: 12px;
    }

    .cloudfee-modal .modal-content {
        padding: 0 12px;
    }

    .coffeeholic-section .col-left,
    .blog-section .col-left {
        padding: 20px;
    }

    .coffeeholic-section .col-left img,
    .blog-section .col-left img {
        height: 50vw;
    }

    .coffeeholic-section .col-right>h3,
    .blog-section .col-right>h3 {
        margin: 16px;
    }

    .coffeeholic-section .col-right .content-list .item img,
    .blog-section .col-right .content-list .item img {
        height: 44vw;
    }

    .coffeeholic-section .col-right .content-list .item .content a,
    .blog-section .col-right .content-list .item .content a {
        margin-top: 8px;
    }

    .teaholic-section .col-left {
        padding: 0;
    }

    .teaholic-section .col-left .content-list .item {
        margin: 16px 0;
    }

    .teaholic-section .col-left .content-list .item img {
        height: 44vw;
    }
    
    .teaholic-section .col-left .content-list .item .content {
        padding: 0 12px;
    }

    .teaholic-section .col-left .content-list .item .content a {
        margin-top: 8px;
    }

    .teaholic-section .col-left .content-list .item .date {
        margin: 0;
    }

    .teaholic-section .col-left .content-list .button {
        margin: 0;
    }

    .teaholic-section .col-right {
        order: -1;
        padding: 20px;
    }

    .teaholic-section .col-right img {
        height: 50vw;
    }

    .coffeeholic-content .container-fluid,
    .teaholic-content .container-fluid,
    .blog-content .container-fluid {
        margin: 0;
        padding: 18px;
    }

    .coffeeholic-content .col-right .item img,
    .teaholic-content .col-right .item img,
    .blog-content .col-right .item img {
        height: 44vw;
    }

    .coffeeholic-content .col-right .item .content a,
    .teaholic-content .col-right .item .content a,
    .blog-content .col-right .item .content a {
        margin-top: 8px;
    }

    .coffeeholic-content .col-right .item .date,
    .teaholic-content .col-right .item .date,
    .blog-content .col-right .item .date {
        margin-bottom: 4px;
    }

    footer .row-linklist img {
        height: auto;
    }

    footer .row-link-contact {
        justify-content: space-around;
    }

}