/*  Các kiểu font-family:
    Baloo 2 Regular 
    Baloo 2 Medium
    Baloo 2 SemiBold
    Baloo 2 Bold 
    Baloo 2 ExtraBold
*/

:root {
    --Baloo-2-Regular: 'Baloo 2 Regular';
    --Baloo-2-Medium: 'Baloo 2 Medium';
    --Baloo-2-SemiBold: 'Baloo 2 Semibold';
    --Baloo-2-Bold: 'Baloo 2 Bold';
    --Baloo-2-ExtraBold: 'Baloo 2 Extrabold';
}

:root {
    --brown-s: #FFF6E8;
    --brown-m: #D6BD97;
    --brown-l: #c59660;
    --brown-xl: #9F713C;
    --brown-xxl: #744B0D;
    --text-color: #fff;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Baloo-2-Regular);
}

body {
    background-color: #eddbbd;
}

/* Banner */
.coffeehouse-store .banner {
    width: 100%;
    height: 40vw;
    /* Sử dụng chiều cao dựa trên chiều rộng viewport */
    object-fit: cover;
    /* Đảm bảo hình ảnh vừa với kích thước banner */

}

/* Begin Header */
.header {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #383838d6;
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

.header.active {
    opacity: 1;
}

.header .home-page {
    line-height: 60px;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Baron Neue';
    font-size: 22px;
    margin: 0 40px;
}

.header .navigation {
    list-style: none;
    display: flex;
    align-items: center;

}

.header .navigation li {
    padding: 0 10px;
}

.header .navigation li a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
}

.header .navigation li:hover a {
    color: var(--brown-l);
    transition: color 0.2s ease-in-out;
}

.header .sign-in {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    padding: 2px 10px;
}

.header .sign-up {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    padding: 2px 10px;
}

.header .sign-in a,
.header .sign-up a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 800;
    color: var(--text-color);
}

.header .sign-in:hover a,
.header .sign-up:hover a {
    color: var(--brown-l);
    transition: color 0.2s ease-in-out;
}

.header .sign-in:hover,
.header .sign-up:hover {
    border-color: var(--brown-l);
    transition: color 0.2s ease-in-out;
}

/* End Header */

/* keyset*/
.coffeehouse-store .gt-p1,
.coffeehouse-store .gt-p2,
.coffeehouse-store .gt-p3,
.coffeehouse-store .gt-p4 {
    display: flex;
}

.coffeehouse-store .gt-p2 img,
.coffeehouse-store .gt-p1 img,
.coffeehouse-store .gt-p3 img,
.coffeehouse-store .gt-p4 img {
    width: 50%;
    padding: 36px;
}

/* End Keyset*/

/* Tiêu đề */
#head {
    text-align: center;
    /* Sử dụng font chữ Baloo 2 */
    font-size: 36px;
    margin: 20px 0;
}

/* Đoạn văn p1 - p4 */
#p1,
#p3 {
    float: left;
    clear: left;
    width: calc(50% - 10px);
    /* Để tạo khoảng cách, width sẽ được giảm đi giá trị margin */
    text-align: left;
    padding: 40px;
    margin-right: 20px;
    /* Khoảng cách nhỏ hơn */
}

#p2,
#p4 {
    float: right;
    clear: right;
    width: calc(50% - 10px);
    text-align: left;
    padding: 40px;
    margin-left: 20px;
    /* Khoảng cách nhỏ hơn */
}

.anh3 {
    float: right;
    clear: left;
    padding: 40px;
    margin-left: 20px;
}

.gt-p4 {
    padding-bottom: 40px;
}

/* Begin Footer */
footer {
    background-color: #424242;
}

footer .container {
    margin: 0 50px;
}

footer .row-linklist {
    display: flex;
    line-height: 1.4;
    /* align-items: center; */
    padding: 30px 0;
}

footer .row-linklist h3 {
    color: #fff;
    padding: 8px 0;
}

footer .row-linklist ul {
    list-style: none;
}

footer .row-linklist ul li {
    padding: 8px 0;
}

footer .row-linklist ul a {
    text-decoration: none;
    color: #ccc;
    display: flex;
    align-items: center;
}

footer .row-linklist ul a:hover {
    color: #f0f0f0;
}

footer .row-linklist ul a i {
    font-weight: bold;
    margin-right: 8px;
}

footer .row-linklist .col-image {
    display: flex;
}

footer .row-linklist img {
    width: 100%;
    height: 14vw;
    border-radius: 8px;
}

footer .row-line {
    width: 100%;
    height: 0px;
    border: 1px solid #ccc;
}

footer .row-link-contact {
    padding: 30px 0;
}

footer .row-link-contact a {
    text-decoration: none;
    padding: 0 15px;
}

footer .row-link-contact a i {
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
}

footer .row-link-contact a:hover i {
    background-color: #585858;
}

/* End Footer */

/* Mobile */
@media (max-width: 800px) {

    .coffeehouse-store .gt-p1,
    .coffeehouse-store .gt-p2 {
        display: block;
    }

    .coffeehouse-store .gt-p2 img,
    .coffeehouse-store .gt-p1 img {
        width: 100%;
        padding: 16px;
    }
}

/*Thay img va doan van khac
them vao js(script) them vao footer*/