/*  Các kiểu font-family:
    Baloo 2 Regular
    Baloo 2 Medium
    Baloo 2 SemiBold
    Baloo 2 Bold
    Baloo 2 ExtraBold
*/

:root {
    --Baloo-2-Regular: 'Baloo 2 Regular';
    --Baloo-2-Medium: 'Baloo 2 Medium';
    --Baloo-2-SemiBold: 'Baloo 2 Semibold';
    --Baloo-2-Bold: 'Baloo 2 Bold';
    --Baloo-2-ExtraBold: 'Baloo 2 Extrabold';
}

:root {
    --brown-s: #FFF6E8;
    --brown-m: #D6BD97;
    --brown-l: #c59660;
    --brown-xl: #9F713C;
    --brown-xxl: #744B0D;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--Baloo-2-Regular), sans-serif;
}

/* hiển thị văn bản trên một dòng */
.ellipsis {
    text-overflow: ellipsis;
    /* kích hoạt dấu ba chấm */
    white-space: nowrap;
    /* giữ văn bản trên một dòng */
    overflow: hidden;
    /* giữ phần tử không tràn ra khỏi phần tử cha */
    width: 100%;
    /* phần tử cần có chiều rộng cố định (px, em, %, etc) */
}

/* hiển thị văn bản trên 3 dòng */
.truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    /* số dòng bạn muốn hiển thị */
    -webkit-box-orient: vertical;
}

/* Begin Header */

.header {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #2d2d2dd6;
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header .ti-close,
.header .ti-menu {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    position: absolute;
    display: none;
}

.header .home-page {
    line-height: 55px;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Baron Neue';
    font-size: 22px;
    margin: 0 40px;
}

.header .navigation {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header .navigation li {
    padding: 0 10px;
}

.header .navigation li>a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
}

.header .navigation li:hover a {
    color: var(--brown-l);
    transition: color 0.2s ease-in-out;
}

.header .navigation li.sign-in-sm,
.header .navigation li.sign-up-sm {
    display: none;
}

.header .sign-in {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    padding: 2px 10px;
}

.header .sign-up {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    padding: 2px 10px;
}

.header .sign-in a,
.header .sign-up a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 800;
    color: var(--text-color);
}

.header .sign-in:hover a,
.header .sign-up:hover a {
    color: var(--brown-l);
    transition: color 0.1s ease-in-out;
}

.header .sign-in:hover,
.header .sign-up:hover {
    border-color: var(--brown-l);
    transition: color 0.2s ease-in-out;
}

.header-tab {
    display: none;
}

/* End Header */

/* Begin Slider */
.slide {
    margin-top: 60px;
}

.slide.des-hidden {
    display: none;
}

/* End Slider */

/* begin menu home */

.menu-home {
    padding: 32px;
}

.menu-home a {
    text-decoration: none;
    color: #000;
}

.menu-home .container-fluid {
    margin: 20px 0;
}

.big-image-home img {
    width: 100%;
    border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px #585858;
}

.product-item-home img {
    width: 100%;
    height: 21vw;
    border-radius: 15px;
    box-shadow: 0 0 10px #585858;
}

.product-name-home a {
    font-weight: bold;
    font-size: 20px;
}

.product-info-home {
    padding-top: 15px;
}

.product-name-home a:hover {
    color: var(--brown-xl);
    transition: color 0.1s;
}

/* end menu home */
/* Begin Thu ngay */
.thu-ngay {
    font-family: var(--Baloo-2-Regular);
    height: 60vw;
    background-image: url(../img/Thu-Ngay/back-ground.jpg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    display: grid;
    align-items: center;
    margin: 40px 0;
}

.thu-ngay .container-fluid {
    padding: 0 50px;
}

.thu-ngay .col-right {
    padding: 0 48px;
    display: grid;
    justify-content: center;
}

.thu-ngay .col-right>.img-tra-xanh {
    margin-bottom: 30px;
}

.thu-ngay .col-right>.content>p {
    font-size: 18px;
    color: #585858;
    line-height: 28px;
    margin-bottom: 40px;
}

.thu-ngay .col-right .btn-thu-ngay {
    color: var(--text-color);
    font-size: 18px;
    font-family: var(--Baloo-2-Medium);
    padding: 10px;
    width: 100%;
    background-color: #778b37;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.thu-ngay .col-right .btn-thu-ngay:hover {
    background-color: #a0bb47;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.thu-ngay .col-right .btn-thu-ngay>p {
    margin: 0;
}


.thu-ngay .content>p {
    font-size: 16px;
    text-align: justify;
}

/* End Thu ngay */


/* Begin Tim hieu them */
.tim-hieu-them {
    padding: 20px 0;
}

.tim-hieu-them .container-fluid {
    width: 100%;
    height: 44vw;
    display: grid;
    align-items: center;
}

.tim-hieu-them .col-left {
    padding: 0 8vw;
    display: grid;
    align-content: center;
}

.tim-hieu-them .content-tim-hieu-them h3 {
    font-family: var(--Baloo-2-SemiBold);
    font-size: 32px;
}

.tim-hieu-them .content-tim-hieu-them p {
    color: #585858;
    font-size: 18px;
}

.tim-hieu-them .content-tim-hieu-them .btn-tim-hieu-them {
    width: 280px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #c8070f;
    color: #fff;
    font-size: 18px;
    font-family: var(--Baloo-2-Medium);
    margin-top: 50px;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}

.tim-hieu-them .content-tim-hieu-them button:hover {
    background-color: #fff;
    border: 1px solid #585858;
    color: #ed9243;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tim-hieu-them .col-left .btn-next {
    display: flex;
}

.tim-hieu-them .col-left .btn-next i {
    font-size: 20px;
    font-weight: 600;
    padding-right: 20px;
    cursor: pointer;
}

.tim-hieu-them .container-fluid .col-right .carousel-inner {
    border-radius: 15px;
}

.tim-hieu-them .container-fluid .col-right img {
    height: 36vw;
}

/* End Tim hieu them */

/* Begin Chuyen nha */
.chuyen-nha {
    background-color: var(--brown-s);
    padding-bottom: 50px;
}

.chuyen-nha .container {
    /* padding: 50px 0; */
    margin: 0 70px;
}

.chuyen-nha .header-chuyen-nha {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.chuyen-nha .header-chuyen-nha>img {
    width: 32px;
    height: 32px;
    padding: 0;
}

.chuyen-nha .header-chuyen-nha>h2 {
    font-size: 30px;
    font-weight: bold;
    width: auto;
    margin: 0;
}

.chuyen-nha .content-chuyen-nha .coffeeholic {
    padding-bottom: 20px;
}

.chuyen-nha .coffeeholic>.title {
    border-left: 5px solid #e57905;
    width: fit-content;
    padding-left: 12px;
    margin: 24px 40px;
    transition: all 0.3s ease-in-out;
}

.chuyen-nha .coffeeholic>.title>a {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.chuyen-nha .coffeeholic>.title:hover>a {
    color: var(--brown-l);
    transition: all 0.3s ease-in-out;
}

.chuyen-nha .coffeeholic .content-list {
    display: flex;
    justify-content: space-around;
    margin: 0 64px;
}

.chuyen-nha .coffeeholic .content-list .col {
    padding: 0 16px;
}

.chuyen-nha .coffeeholic .des-hidden {
    display: none;
}

.chuyen-nha .coffeeholic .content-list img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(1, 1);
    box-shadow: 0 1px 8px #585858;
    transition: all 0.3s ease-in-out;
}

.chuyen-nha .coffeeholic .content-list img:hover {
    box-shadow: 0 2px 16px #585858;
    transform: scale(1.02, 1.02);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.chuyen-nha .coffeeholic .content-list .title {
    font-size: 21px;
    font-family: var(--Baloo-2-Medium);
}

.chuyen-nha .coffeeholic .content-list .date,
.chuyen-nha .coffeeholic .content-list .text {
    color: #585858;
    text-align: justify;
    margin: 12px 0;
}

.chuyen-nha .coffeeholic .content-list .title:hover {
    color: var(--brown-l);
    cursor: pointer;
}

/* End Chuyen nha */


/* Begin Footer */
footer {
    background-color: #424242;
}

footer .row-linklist {
    line-height: 1.4;
    padding: 30px 16px;
}

footer .row-linklist h5 {
    color: #fff;
    padding: 8px 0;
}

footer .row-linklist ul {
    list-style: none;
    padding: 0;
}

footer .row-linklist ul li {
    padding: 8px 0;
}

footer .row-linklist ul a {
    text-decoration: none;
    color: #ccc;
    transition: all 0.2s ease-in-out;
}

footer .row-linklist ul a:hover {
    color: #f0f0f0;
    transition: all 0.2s ease-in-out;
}

footer .row-linklist ul a i {
    font-weight: bold;
    margin-right: 8px;
}

footer .row-linklist .col-image {
    padding: 0;
    overflow: hidden;
}

footer .row-linklist img {
    width: 100%;
    height: 14vw;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.07, 1.07);
    }
}

footer .row-line {
    width: 100%;
    height: 0px;
    border: 1px solid #ccc;
}

footer .row-link-contact {
    padding: 30px 0;
    display: flex;
}

footer .row-link-contact a {
    text-decoration: none;
    padding: 0 15px;
}

footer .row-link-contact a i {
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    height: 41px;
    transition: all 0.2s ease-in-out;
}

footer .row-link-contact a:hover i {
    background-color: #585858;
    transition: all 0.2s ease-in-out;
}

/* End Footer */